{% extends 'base.html' %}
{% load static %}
{% block content %}

	<section class="section bg-light">
		<div class="container">
			<div class="row align-items-stretch retro-layout">

				{% for i in post_last %}
				<div class="col-md-4">
					<a href="{% url 'blogs:single-blog' i.id %}" class="h-entry mb-30 v-height gradient">

						<div class="featured-img" style="background-image: url('/static/images/img_2_horizontal.jpg');"></div>

						<div class="text">
							<span class="date">{{i.date_created}}</span>
							<h2>{{i.title}}</h2>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- End retroy layout blog posts -->
{% if category %}
{% for cat in category %}
	<section class="section">
		<div class="container">

			<div class="row mb-4">
				<div class="col-sm-6">
					<h2 class="posts-entry-title">{{cat.category}}</h2>
				</div>
				<div class="col-sm-6 text-sm-end"><a href="{% url 'blogs:category' cat.id %}" class="read-more">View All</a></div>
			</div>

			<div class="row">
				{% for po in post %}
				{% if po.category_id == cat.id %}
				
				<div class="col-lg-4 mb-4">
					<div class="post-entry-alt">
						<a href="{% url 'blogs:single-blog' po.id %}" class="img-link"><img src="{% static 'images/img_7_horizontal.jpg' %}" alt="Image" class="img-fluid"></a>
						<div class="excerpt">
							

							<h2><a href="{% url 'blogs:single-blog' po.id %}">{{po.title}}</a></h2>
							<div class="post-meta align-items-center text-left clearfix">
								<figure class="author-figure mb-0 me-3 float-start"><img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid"></figure>
								<span class="d-inline-block mt-1">By <a href="{% url 'blogs:single-blog' po.id %}">{{po.author.username}}</a></span>
								<span>{{po.date_created}}</span>
							</div>

							<p>{{po.title}}</p>
							<p><a href="{% url 'blogs:single-blog' po.id %}" class="read-more">Continue Reading</a></p>
						</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			
		</div>
	</section>
{% endfor %}
{% endif %}

	{% endblock content %}
